@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DGE Bold"; /*Can be any text*/
  src: local("DharmaGothicE_Bold_R"),
    url("../fonts/dharma-gothic-e/DharmaGothicE_Bold_R.otf") format("opentype");
}

@font-face {
  font-family: "DGE Extra-Bold";
  src: local("DharmaGothicE_ExBold_R"),
    url("../fonts/dharma-gothic-e/DharmaGothicE_ExBold_R.otf")
      format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #404040;
  border-radius: 0px 5px 5px 0px;
}
/* 25px top-left, 10px top-right, 4px bottom-right and 35px bottom-left */
/* 20px top and bottom, 5px on the sides */

/* scrollbar-track */
::-webkit-scrollbar-track {
  /* background-color: #404040; */
  background-color: #404040;
  border: 0.302em solid #e5e7eb;
  margin-top: 40px;
}

/* scrollbar-handler */
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border: 0.15em solid #e5e7eb;
  border-radius: 5px;
  margin-top: 20px;
  width: 10px !important;
}

/* scrollbarhandler hover*/
::-webkit-scrollbar-thumb:hover {
  background-color: #404040;
}

/* darkmode scroll bar */
/* scrollbar */
.dark ::-webkit-scrollbar {
  width: 10px;
  background-color: #171717;
  border-radius: 0px 5px 5px 0px;
}

/* scrollbar-track */
.dark ::-webkit-scrollbar-track {
  /* background-color: #404040; */
  background-color: #a3a3a3;
  border: 0.302em solid #171717;
  margin-top: 40px;
}

/* scrollbar-handler */
.dark ::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border: 0.15em solid #171717;
  border-radius: 5px;
  margin-top: 20px;
  width: 10px !important;
}

/* scrollbarhandler hover*/
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}

/* darkmode scroll bar end*/

/* title fonts */
.font-dge_bold {
  font-family: "DGE Bold";
  letter-spacing: 3px;
}
